$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "bootstrap-sass/lib/bootstrap";

/* Put your CSS here */
html, body {
  margin: 20px;
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.box{
  border: 1px dotted #333;
}

.charts{
  margin:20px 0 !important;
}

.pivot{
  position:relative;
  background: #e7e7e7;
  .label{
    background: none !important;
    display: inline-block;
    nobr{
      padding:5px;
      background: #006699;
      color: #ffffff;
    }
  }

  .pvtAxisContainer{
    position: relative;
    background: none !important;
  }

  .pvtFilterBox{
    display: inline-block;

    button{
      margin:5px 2px;
      @extend .btn, .btn-primary
    }
  }

  .pvtRenderer{
    width:100px;
  }

  .pvtAggregator, .pvtRenderer{
    @extend .form-control
  }
}