<div class="row">
	<div class="col-xs-12 col-md-8">
		<h2>Angular Dc Prototype</h2>
		<p class="lead">This is an Angular Yeoman Project</p>
	</div>
	<div class="col-xs-16 col-md-12">
		<div class="row">
			<div class="col-xs-16 col-md-12">
			</div>
			<div class="col-xs-6 col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Debug</h3>
					</div>
					<div class="panel-body">
						<ul class="list-unstyled">
							<li ng-repeat="item in getLog()">
								<span ng-bind="item.name"></span>
								<ul>
									<li ng-repeat="lista in item.items">
										<span ng-bind="lista"></span>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div gridster="gridOpts">
			<ul>
				<li gridster-item="" row="item.position[0]" col="item.position[1]" size-x="item.size.x" size-y="item.size.y" ng-repeat="item in items" class="box">
					<h4>
						Draggin Example {{ $index }}
					</h4>
				</li>
			</ul>
		</div>
	</div>
</div>
