<div class="row">
	<div class="col-xs-12 col-md-8">
		<h2>Angular Dc Prototype</h2>
		<p class="lead">This is an Angular Yeoman Project</p>
	</div>
	<div class="col-xs-16 col-md-12">
		<div class="row">
			<div class="col-xs-6 col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Debug</h3>
					</div>
					<div class="panel-body">
						<ul class="list-unstyled">
							<li ng-repeat="item in getLog()">
								<span ng-bind="item.name"></span>
								<ul>
									<li ng-repeat="lista in item.items">
										<span ng-bind="lista"></span>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-xs-16 col-md-12">
				<h2>Charts</h2>
				<div dc-line data="rows" dimensions="['DATETIME','MEASURE:Customer Price']"></div>
			</div>
		</div>
	</div>
</div>
